body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Naskh Arabic', serif;
  font-family: 'Poppins', sans-serif;
  font-size  : 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Naskh Arabic', serif;
  font-family: 'Poppins', sans-serif;
}

.theme-primary-text {
  color: #12B8BE;
}

.theme-secondary-text {
  color: #4B34E8;
}

.bg-theme-primary {
  background-color: #12B8BE;
}

.form-control {
  height: calc(1.5em + 0.75rem + 14px);
}

.rightColumn {
  background: url(../images/bgshape.png) center/122% 100% no-repeat;
}

.leftColumn {
  background: url(../images/bgImage.png) center/100% 100% no-repeat;
}

.h-100vh {
  height: 100vh;
  ;
}

.fa-20 {
  font-size: 20px;
}

.form-control:focus {
  color           : #000;
  background-color: #f8f9fa;
  border-color    : #fff;
  outline         : 0;
  box-shadow      : none;
}

.right-icon {
  right    : 10px;
  top      : 50%;
  transform: translateY(-50%);
  color    : #6852fb;
  cursor   : pointer;
}

.contentModal i {
  font-size: 5rem;
}

.nav-link {
  color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,800;1,900&family=Noto+Naskh+Arabic&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

.achivpFont {
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Noto Naskh Arabic', serif;
  font-family: 'Poppins', sans-serif;
}

.list-group-flush>.list-group-item {
  font-size  : 14px;
  display    : flex;
  align-items: center;
}

.list-group-flush>.list-group-item i {
  font-size    : 18px;
  padding-right: 10px;
}

.list-group-flush>.list-group-item {
  font-size: 14px;
}

.border-bottom-radius {
  border-radius: 0 0 20px 0;
}


.iconBasboard img {
  object-fit: contain;
  width     : 55px;
  height    : 75px;
}

.rounded-15 {
  border-radius: 15px;
}

.rotateText {
  transform: rotateZ(-90deg);
  position : absolute;
  right    : 51%;
  top      : -45%;
}

.gap-15 {
  gap: 15px;
}

.bg-theme-primary-outline {
  border    : 1px solid #12B8BE;
  background: #fff;
  color     : #12B8BE !important;

}

.avatarInfo .dropdown-menu {
  min-width: 15rem;
}

.notification {
  font-size      : 30px;
  text-decoration: none;
}

.count {
  text-decoration : none;
  position        : absolute;
  background-color: red;
  color           : #fff;
  border-radius   : 50px;
  font-size       : 11px;
  right           : -2px;
  width           : 15px;
  height          : 15px;
  text-align      : center;
}

.dropdown-notifcation {
  position        : absolute;
  z-index         : 1000;
  display         : none;
  padding         : 0.5rem 0;
  margin          : 0;
  font-size       : 1rem;
  color           : #212529;
  text-align      : left;
  list-style      : none;
  background-color: #fff;
  background-clip : padding-box;
  border          : 1px solid rgba(0, 0, 0, 0.15);
  border-radius   : 0.25rem;
  left            : -35px;
  width           : 100%;
}

.dropdown-notifcation.show {
  display: block;
}

.notificationContent {
  font-size: 13px;
}

li.page-item:first-child a {
  background-color: #12B8BE;
  color           : #fff;
}

li.page-item:last-child a {
  background-color: #333333;
  color           : #fff;
}


li.page-item a {
  color: #333333;
}


.table td,
.table th {
  padding       : 0.75rem;
  vertical-align: top;
  border-top    : none;
}

.table thead th {
  vertical-align: bottom;
  border-bottom : 0;
}

table {
  border-collapse: separate;
  border-spacing : 0 12px;
}


tbody td {
  border        : none;
  padding       : 15px 0 !important;
  vertical-align: middle !important;
}

tbody tr {
  box-shadow   : 2px 0px 6px 0px #ebe5e5;
  border-radius: 14px;
}

.btn-check:focus+.btn,
.form-select:focus {
  outline   : 0;
  box-shadow: none;
}

.subjects>div {
  min-height: 120px;
}

.bg-yellow {
  background-color: #FFD60A;
}

.bg-volient {
  background-color: #FF51D6;
}

.bg-green {
  background-color: #12BEAC;
}

.badgeRight {
  background-color: #12b8be;
  text-align      : center;
  position        : absolute;
  bottom          : 170%;
  font-size       : 14px;
  padding         : 5px 15px;
  border-radius   : 10px 0px 0px 10px;
  right           : 0;
}

.qualificationTitle {
  background-color: rgb(18 184 190 / 31%);
  text-align      : center;
  padding         : 10px 0;
  border-radius   : 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color           : #fff;
  background-color: #12b8be;
}

.comission-section li a {
  color: #000;
}

.light-bg {
  background-color: rgb(18 184 190 / 17%);
  padding         : 30px 20px;
}

.border-btn {
  border: 1px solid #333333;
  color : #333333 !important;
}

.avatar-upload {
  position : relative;
  max-width: 205px;
  margin   : 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right   : 12px;
  z-index : 1;
  bottom  : 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display      : inline-block;
  width        : 34px;
  height       : 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background   : #FFFFFF;
  border       : 1px solid transparent;
  box-shadow   : 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor       : pointer;
  font-weight  : normal;
  transition   : all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background  : #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content    : "\F220";
  font-family: 'bootstrap-icons';
  color      : #12B8BE;
  position   : absolute;
  top        : 5px;
  left       : 0;
  right      : 0;
  text-align : center;
  margin     : auto;
}

.avatar-upload .avatar-preview {
  width        : 192px;
  height       : 192px;
  position     : relative;
  border-radius: 100%;
  border       : 6px solid #F8F8F8;
  box-shadow   : 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width              : 100%;
  height             : 100%;
  border-radius      : 100%;
  background-size    : cover;
  background-repeat  : no-repeat;
  background-position: center;
}

.navbar-toggler-icon i {
  font-size: 25px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline        : 0;
  box-shadow     : none !important;
}

span.navbar-toggler-icon i {
  font-size: 25px !important;
  position : relative;
  top      : -5px;
}

@media(min-width: 1170px) {
  div#sidebar-wrapper {
    position: fixed;
    width   : 15%;
  }

  div#page-content-wrapper {
    width      : 85%;
    margin-left: 15%;
  }

}

@media only screen and (min-width: 768px) {
  button#sidebarToggle {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .login .rightColumn {
    display: none !important;
  }

  .profile-dropdown.collapse:not(.show) {
    display: block;
  }

  .avatarImage img {
    display: none;
  }

  .avatarInfo h3 {
    font-size: 15px;
  }

  .rotateText {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #page-content-wrapper {
    width: 100vw;
  }

  .headr-search-btn {
    display: none;
  }

  #sidebar-wrapper .sidebar-heading {
    width: 240px;
  }

  .graphTitle .achivpFont {
    margin-bottom: 10px !important;
  }

  select.form-select.form-select-sm.w-25 {
    width: 100% !important;
  }

  .badgeRight {
    bottom: 0%;
  }
}

@media screen and (max-width: 1400px) and (min-width: 360px) {

  body,
  a,
  p,
  span,
  i {
    font-size: 12px !important;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  a#navbarDropdown>h3 {
    font-size: 16px !important;
  }

  select,
  input {
    font-size: 12px !important;
  }

  h5 {
    font-size: 16px;
  }

  h1 {
    font-size: 22px !important;
  }

  .avatarImage a i {
    font-size: 18px !important;
  }

  .count {
    font-size: 8px !important;
    width    : 10px;
    height   : 10px;
  }

  .rotateText {
    display: none;
  }
}